.differ {
  &__container {
  }
  &__title {
    display: none;
  }
  &__inner-container {
  }
  &__item {
  }

  &__swiper-buttons {
    &-text {
    }
    .swiper-button {
      &-next {
      }
      &-prev {
      }
    }
  }
}

.differ-item {
  &__title {
  }
  &__img,
  &__text {
    padding-left: 27px;
  }
  &__img {
    display: flex;
    justify-content: center;
    &--ar {
      padding: 0;
      img {
        margin: 0;
        max-width: 70%;
      }
    }
  }
  &__text {
    font-size: 14px;
    padding-right: 10px;
  }
}

.differ-swiper-buttons {
  padding: 15px 0;
  position: absolute;
  bottom: 40px;
  right: 30px;
  z-index: 20;
  display: flex;
  align-items: center;
  &__text {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2%;
    opacity: 0.3;
    margin: 0 10px;
  }
  &__prev {
    transform: rotate(180deg);
  }
  &__next {
  }
}
