section.section.complex-solution.swiper-slide
  .container.complex-solution__container
    h2.title.complex-solution__title Косплексные решения визуализации
    p.complex-solution__text WEARE – российский разработчик программного обеспечения, предоставляющий максимально полное погружение в виртуальную реальность.
    .complex-solution__inner-container
      .complex-solution__item.complex-solution-item.complex-solution-item--vr
        a(href="#" area-label="To detail").complex-solution-item__link-icon 
          include ../../../assets/img/icons/45deg-arrow.svg
        .complex-solution-item__title Разработка VR решений
        a(href="#").complex-solution-item__link-detail Подробнее 
          include ../../../assets/img/icons/long-arrow.svg

      .complex-solution__item.complex-solution-item.complex-solution-item--ar
        a(href="#" area-label="To detail").complex-solution-item__link-icon 
          include ../../../assets/img/icons/45deg-arrow.svg
        .complex-solution-item__title Дополненная реальность для вашего бизнеса
        a(href="#").complex-solution-item__link-detail Подробнее 
          include ../../../assets/img/icons/long-arrow.svg
