section.section.hero.swiper-slide
  .container.hero__container
    .hero__helmet
      img(src=require('../../../assets/img/main-helmet.png').default, alt="")
    .hero__content
      h1.title.hero__title Разработка #[span VR/AR] проектов
      p.hero__descr Моделирование и визуализация 3D-объектов в формате виртуальной реальности
      .hero__achievement.hero-achievement
        p.hero-achievement__item Участники фестиваля круг света
        p.hero-achievement__item Cертификат iso 9001