section.section.statistics.swiper-slide
  .container.statistics__container
    .title.statistics__title Мы становимся другом для нашего клиента
    .statistics__inner-container
      p.statistics__text что бы изучить и понять внутренней мир  заказчика, а затем выразить его в интерьере. Дизайн проект — это подлинный шедевр, который рождается в единстве души и разума
      ul.statistics__list
        +statisticsItem('c 2015', 'года на рынке')
        +statisticsItem('200', 'архитектурных проектов')
        +statisticsItem('180', 'проектов под ключ')
        +statisticsItem('320', 'интерьерных проектов')



