extends ../layout/main

block variables
  - var title = '';
  - var description = '';

block head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content=description)
  title #{title}

block header
  include ../components/_header

block content
  include ../components/main-form/_main-form
block footer
  include ../components/_footer