//<VARIABLES>=====================================================================================
$minWidth: 320;
$maxWidth: 1920;
$md1: $maxWidth + 12;
$md2: 992;
$md3: 768;
$md4: 480;
$fontfamily: 'HelveticaNeueCyr-Roman';

//</VARIABLES>====================================================================================

//<COMMON SETTINGS, NULLIFICATION>==================================================================
@import 'null';

body {
  color: var(--color-white);
  font-family: $fontfamily, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  background: var(--color-bg) no-repeat center/cover url('../../assets/img/background-mobile.png');
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
}

.title {
  text-transform: uppercase;
  margin: 0;
  font-family: 'NeueMachina-Bold', sans-serif;
  font-size: 25px;
}

.section {
  padding-top: 80px;
}

.fullpage-container {
  .swiper-pagination {
    left: 22px;
    top: 40%;
    width: fit-content;
    &-bullet {
      background: var(--color-white);
      opacity: 10%;
      width: 4px;
      height: 4px;
      margin-bottom: 6px;
      &-active {
        border-radius: 10px;
        height: 38px;
        width: 4px;
        opacity: 1;
      }
    }
  }
}

.swiper-buttons--disabled {
  opacity: 0.3;
}

.overlay {
  position: fixed;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  //background: center / cover no-repeat url(../../assets/img/overlay.png);
  pointer-events: none;
  opacity: 0.3;
}
//</COMMON SETTINGS, NULLIFICATION>================================================================

//<WRAPPER>=======================================================================================
.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
  // &.loaded {
  // }
}
//</WRAPPER>=======================================================================================

//<MAIN GRID>======================================================================================
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 20px;
}
//</MAIN GRID>=========================================================================================

//<UTILITIES CLASS>======================================================================================

%ibg {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

%flex {
  display: flex;
}

%hide {
  display: none;
}

.is-outer {
  position: relative;
}

.stop-scroll {
  @include stop-scroll;
}

.visually-hidden {
  @include visually-hidden;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

//</UTILITIES CLASS>===============================================================================
